.box-layout{
    background-image: linear-gradient($gradient-top,$gradient-bottom);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-div{
    background-color: $form-background;
    border-radius: 5%;
    width: 20%;
    box-shadow: 10px 10px 1px 0px rgba(104,169,155,1);
    -webkit-box-shadow:10px 10px 1px 0px rgba(104,169,155,1);
    -moz-box-shadow:10px 10px 1px 0px rgba(104,169,155,1);
    @media(max-width: $desktop-breakpoint){
        width: 80%;
    }
    margin-bottom: 5%;
}
.login-form{
    margin: 0 auto;
    height: 80%;
    
}
.input{
    margin: 0 auto;
    margin-left: 15%;
    margin-bottom: 1%;
    @media(max-width: $desktop-breakpoint){
        margin-left: 7.5%;
     }
   
}
.user-guide{
    margin-bottom: 2%;
}
.login-input{
    margin: 0 auto;
    padding: 2%;
    width: 80%;
    border: none; 
    border:solid 1px #ccc;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:3vh;
    @media(max-width: $desktop-breakpoint){
        width:90%;
     }
    
}
.pass-input{
    margin-bottom: 5%;
}
.login-text{
    margin: 0 auto;
    width: 33%;
    color:$orange;
    font-size: 2.5vw;
    margin-top: 5%;

    @media(max-width: $desktop-breakpoint){
        width: 20%;
        font-size: 5vw;
     }
}
.login-button{
    width: 30%;
    margin: 0 auto;
    height: 13%;
    margin-left: 35%;
    margin-bottom: 10%;
    border: none;
    background-color: $orange;
    border-radius: 10px;
    color:white;
    -webkit-box-shadow: 5px 6px 1px 0px rgba(104,169,155,1);
    -moz-box-shadow: 5px 6px 1px 0px rgba(104,169,155,1);
    box-shadow: 5px 6px 1px 0px rgba(104,169,155,1);
}
.login-button:hover{
    background-color: rgb(248, 167, 96);
    border-radius: 10px;
    color:white;
}
.after-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
.item{
    margin: 0 auto;
    margin-bottom: 2%;
}
#signUp-item{
    color:$orange;
    margin: 0 auto;
}
#signUp-item:hover{
    color:rgb(248, 167, 96);
    cursor: pointer;
}

.final{
    text-align: center;
}
