.header{
    background-color:$header-color;
}
.header-title{
    color:white;
    text-decoration: none;
    h1{
        margin:0;
    }
}

.logout-button{
    cursor:pointer;
    color:white;
}

.header-content{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding: $s-size 0;
}