html {
  font-size: 62.5%;
  color:grey;
}

body {
  font-family: BauhausLightCCT, Arial, Helvetica, sans-serif;
  font-size: $m-size;
  background-image: linear-gradient($gradient-top,$gradient-bottom);
  height: 100vh;
    width: 100vw;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
